.no-animate {
  transition: none !important;
}

.blur-fix {
    // Backface visibility and translateZ fix blurry scale bug in chrome
  backface-visibility: hidden;
  transform: translateZ(0);
  transform-style: preserve-3d;
}

.hover-zoom {
  transition: all ease-out .3s;

  &:hover {
    transform: scale(1.125);
    transition: all ease-in-out .2s;
  }
}

.show-fade {
  opacity: 1;
  transition: opacity ease-in-out .75s;

  &.hidden {
    opacity: 0;
  }
}

.show-fade-slow {
  opacity: 1;
  transition: opacity ease-in-out 1.25s;

  &.hidden {
    opacity: 0;
  }
}

.hide-fade {
  opacity: 1;
  transition: opacity ease-in-out .75s;

  &.hidden {
    opacity: 0;
    visibility: visible;
  }
}

.show-zoom {
  opacity: 1;
  transform: scale(1);
  transition: opacity ease-in-out .75s, transform ease-in-out .75s;

  &.hidden {
    opacity: 0;
    transform: scale(.75);
  }
}

.flip-card {
  backface-visibility: hidden;
  transition: transform .75s ease-in-out;
}

.flip-left {
  transform: rotateY(-180deg);
}

.flip-right {
  transform: rotateY(180deg);
}
