<div class="game-panel game-panel-left">
  <img src="assets/img/html/logo-left.png"/>
</div>
<div class="game"></div>
<div class="game-panel game-panel-right">
  <img src="assets/img/html/logo-right.png"/>
  <div class="high-score">
    High Score<br/><span class="high-score-display">0</span>
  </div>
  <div class="high-level">
    Level<br/><span class="high-level-display">0</span>
  </div>
  <div class="hidden save-score-container">
    <div class="save-score-form">
      <div class="form-section">
        <label class="form-label">NAME:</label>
        <input class="form-input" maxlength="3" id="saveName" type="text" />
      </div>
      <div class="form-section">
        <label class="form-label">SCORE:</label>
        <input class="form-input" disabled="disabled" id="saveScore" type="number" />
      </div>
      <button class="form-button" id="scoreSaveBtn" type="button">SAVE</button>
    </div>
  </div>
</div>
